<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Gloria+Hallelujah&display=swap" rel="stylesheet">
</head>

<body>
    <img src="/assets/images/WSP_FULL.png" alt="Who-spot-ya-logo">
    <h1>Create a new account!</h1>
    <form action="/auth/sign-up" method="POST">

        <div id="top"><label for="email">Enter your email address:</label>
            <input type="email" name="email" id="email">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required />
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required />
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" name="confirmPassword" id="confirmPassword" required />
        </div>
        <button type="submit">Sign up</button>
    </form>
</body>

</html>