<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log a Spot</title>
</head>

<body>
    <form action="/birds" method="POST">
        <label for="name">What bird did you spot?</label>
        <input type="text" name="name" id="name">
        <label for="location">Where did you spot it?</label>
        <input type="text" name="location" id="location">
        <button type="submit">Log Your Spot</button>

    </form>
</body>

</html>