body {
  font-family: "Anton", sans-serif;
  background-color: #0d3b66;
  color: #f4d35e;
}

#form {
  color: #0d3b66;
  background: rgb(13, 59, 102);
  background: linear-gradient(
    127deg,
    rgba(13, 59, 102, 1) 0%,
    rgba(237, 209, 109, 1) 81%,
    rgba(238, 150, 75, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

#birds-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
#all-birds {
  display: flex;
  flex-direction: column;
  min-height: 70px;
  border: 5px solid #ee964b;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #faf0ca;
  color: #0d3b66;
  padding: 3px;
}
.parent-bird {
  list-style: none;
}

.no-comments {
  font-weight: lighter;
  font-style: italic;
}

.owl-logo {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 5px;
}

#comment-container {
  display: flex;
  flex-direction: column;

  gap: 10px;
  width: 200px;
  flex-wrap: nowrap;
  min-height: 10px;
  margin-bottom: 10px;
}

a {
  background-color: rgba(255, 99, 71, 0.851);
  border-radius: 5px;
  font-weight: lighter;
}

.comment-box {
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
}

::placeholder {
  text-align: center;
}

button {
  background-color: #f4d35e;
  border-radius: 5px;
}

#bird-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 35vh;
  gap: 10px;
}

a {
  cursor: pointer;
}

#submit {
  cursor: pointer;
}

button {
  cursor: pointer;
}

h1 {
  text-align: center;
  text-decoration: underline;
}
